.ProductCard-container {
    display: flex;
    padding: 8px;
    background-color: white;
    box-shadow: 0px 0px 20px 5px rgba(240, 240, 240, 0.9);
    border-radius: 6px;
    width: 100%;
    min-width: 700px;
    margin-top: 16px;
    margin-bottom: 16px;
    max-height: 200px;
}

.ProductCard-thumbnail {
    max-width: 185px;
    height: 170px;
    object-fit: contain;
    overflow: hidden;
}

.ProductCard-content {
    width: 70%;
}
.ProductCard-content > p {
    margin: 8px;
}

.ProductCard-priceRating {
    display: flex;
    flex-direction: row;
    margin-top: 16;
}
.ProductCard-priceRating > p {
    margin: 8px;
}

.ProductsCard-title {
    text-align: start;
    color: #111c85;
    margin: 0;
    margin-bottom: 16;
}
.ProductsCard-description {
    text-align: start;
    color: #9295aa;
    font-size: 14px;
    margin: 0;
}

.ProductsCard-button {
    display: flex;
    border: none;
    line-height: normal;

    font-size: 16;
    color: #111c85;
    background-color: #fff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    outline: none;
    margin: 8px;
    padding: 8px;
}

.ProductsCard-button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.ProductsCard-button:hover {
    background-color: #2ee59d;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
